#hero .container h2
{
    font-size: 50px;

}

.skill-title
{
    background-color: #040B14;
    opacity: 0.9;
    color: white;
    text-align: center;
   margin-bottom: 25px;
}
.skill-title h4
{ padding: 8px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.job_title
{
    color:#36ABE2;
}

.portfolio-img-fix {
    width: 100% !important;
    height: 300px !important;
    object-fit: contain !important; /* Garde l'image entière */
    background: #fdfdfd; /* Fond neutre si l'image est fine */
    padding: 15px;
}

.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212425; /* Fond sombre pour les icônes */
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

/* Couleur d'accentuation au survol (Bleu moderne) */
.social-links a:hover {
  background: #0563bb;
  color: #fff;
  text-decoration: none;
}

.lang-menu .btn {
  border-radius: 20px; /* Bords arrondis */
  padding: 2px 12px;
  font-size: 12px;
  transition: all 0.3s ease;
}

/* Quand le bouton est sélectionné */
.lang-menu .btn.active {
  background-color: #0563bb;
  border-color: #0563bb;
  color: white;
}